:root {
    --header-color: #293352;
    --text-color: #fff;
    --body-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: var(--body-color);
    scroll-behavior: smooth;
}


/* header first*/

header {
    /* border-bottom: 1px solid black; */
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.header-1 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

header .logo {
    /* border: 1px solid white; */
    width: 5%;
}

.title-header {
    /* border: 1px solid white; */
    height: auto;
    line-height: 70px;
    width: 95%;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 200px;
    align-items: center;
    align-self: center;
    letter-spacing: 3px;
    color: var(--text-color);
}

.header-2 {
    /* border: 1px solid white; */
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 15px;
}

.search-header {
    /* width: 50%; */
    width: 380px;
    /* border: 1px solid white; */
    position: relative;
    height: 50px;
    margin: auto;
    align-self: center;
}

.search-header input {
    position: absolute;
    border-radius: 25px;
    /* width: 100%; */
    height: 100%;
    border: none;
    padding-left: 4rem;
    font-size: 18px;
    background-color: var(--text-color);
}

.search-header .icon {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    width: 50px;
    height: 100%;
    color: #5cdb95;
    border-radius: 25px 0 0 25px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border: none;
}

.select-header {
    /* border: 1px solid black; */
    /* width: 25%; */
    width: 380px;
    height: 50px;
    margin: auto;
    align-self: center;
}

.select-header select {
    width: 80%;
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    height: 100%;
    margin-left: 28px;
}

.user-header {
    /* border: 1px solid white; */
    margin-right: 20px;
    font-size: 50px;
    color: var(--text-color);
}

nav {
    max-width: 100%;
    /* border: 1px solid black; */
    border: none;
    background-color: #f4f4f4;
    padding: 16px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 12px 16px;
    margin: 2px 16px;
    /* border: 1px solid black; */
}

li:hover {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #5cdb95;
    border-radius: 5px;
}

li a:hover {
    color: var(--header-color);
    font-weight: 800;
}


/* header end*/


/* section-hero first */

section {
    margin-top: 290px;
    padding: 18px 20px;
    /* border: 1px solid black; */
    position: relative;
}

.section-hero {
    margin-top: 18rem;
    background-color: #CDFCF6;
}

.title-hero {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: var(--header-color);
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sub-title-hero {
    text-align: center;
    font-size: 20px;
    color: var(--header-color);
    line-height: 42px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-hero {
    margin-top: 8px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.button-hero-minat {
    position: relative;
    width: 200px;
    margin: 10px;
    /* border: 1px solid black; */
    padding: 10px 40px;
    height: 50px;
}

.btn-minat {
    position: absolute;
    margin-left: 15px;
    padding: 16px 25px;
    text-transform: uppercase;
    background-color: var(--header-color);
    color: var(--text-color);
    font-weight: 800;
    line-height: 20px;
    font-size: 20px;
}

.btn-minat:hover {
    background-color: green;
}

.button-hero-voucer {
    position: relative;
    width: 200px;
    margin: 10px;
    /* border: 1px solid black; */
    padding: 10px 40px;
    height: 50px;
}

.btn-voucer {
    position: absolute;
    padding: 16px 25px;
    text-transform: uppercase;
    background-color: var(--header-color);
    color: var(--text-color);
    font-weight: 800;
    line-height: 20px;
    font-size: 20px;
}

.btn-voucer:hover {
    background-color: green;
}


/* section-hero end */


/* section first */

.select-pesan {
    width: 380px;
    height: 50px;
    /* margin: auto; */
    align-self: center;
    margin-bottom: 30px;
}

.select-pesan select {
    width: 80%;
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    height: 100%;
    margin-left: 28px;
}

.content-pesan {
    /* border: 1px solid black; */
    min-height: 600px;
    padding: 50px;
    background-color: #CDFCF6;
    margin-bottom: 50px;
}

.title-content-pesan {
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.list-content-pesan {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-list {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    padding: 18px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

.header-list:hover {
    background-color: var(--header-color);
    color: var(--text-color);
}

.header-list .icon {
    /* border: 1px solid black; */
    width: 10%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
}

.title-tutor {
    margin-left: 100px;
}

.title-tutor h1 {
    text-transform: uppercase;
}

.content-biaya {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content-harga {
    margin-top: 30px;
    /* border: 1px solid black; */
    display: flex;
    padding: 20px 40px;
    width: 30%;
}

.content-harga .total {
    letter-spacing: 2px;
    font-size: 23px;
}

.content-harga .btn-beli button {
    /* border: 1px solid black; */
    padding: 18px;
    width: 220px;
    margin-left: 50px;
    background-color: green;
    font-size: large;
    font-weight: 800;
    color: var(--text-color);
    border-radius: 3px;
    transition: 0.3s ease;
}

.content-harga .btn-beli button:hover {
    opacity: 0.7;
}


/* section end */


/* footer first */

footer {
    background-color: var(--header-color);
    padding: 20px;
    color: var(--text-color);
    font-size: medium;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
}


/* footer end */