:root {
    --header-color: #293352;
    --text-color: #fff;
    --body-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: var(--body-color);
    scroll-behavior: smooth;
}

.container {
    border: 1px solid black;
    width: 900px;
    background-color: #CDFCF6;
    margin: auto;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-1,
.title-2 {
    /* border: 1px solid black; */
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--header-color);
}

.select-header {
    /* border: 1px solid black; */
    /* width: 25%; */
    width: 900px;
    height: 50px;
    /* margin: auto; */
    margin-left: 60px;
    margin-bottom: 50px;
}

.select-header select {
    width: 80%;
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
    color: #000;
    height: 100%;
    margin-left: 28px;
}

.login-input {
    /* border: 1px solid black; */
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.login-input input {
    margin-top: 20px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    padding: 18px;
    width: 680px;
    background-color: #CDFCF6;
    color: #000;
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 50px;
}

.masuk {
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 20px;
    font-size: large;
    font-weight: 800;
    transition: .3s ease;
}

.masuk:hover {
    background-color: var(--header-color);
    color: var(--text-color);
}